<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controller.service.UserRegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.service.TestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/app/test/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AppLogin</servlet-name>
        <servlet-class>controller.service.AppLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppLogin</servlet-name>
        <url-pattern>/app/login/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>controller.admin.AdminLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin/authenticate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>controller.admin.AdminLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploader</servlet-name>
        <servlet-class>controller.service.UploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploader</servlet-name>
        <url-pattern>/upload/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WallPost</servlet-name>
        <servlet-class>controller.service.WallPostController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WallPost</servlet-name>
        <url-pattern>/app/wallpost/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Utility</servlet-name>
        <servlet-class>controller.service.UtilityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Utility</servlet-name>
        <url-pattern>/utility/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PictureAccessRequest</servlet-name>
        <servlet-class>controller.service.PictureAndFileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PictureAccessRequest</servlet-name>
        <url-pattern>/app/media/access/pictures</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AppRegister</servlet-name>
        <servlet-class>controller.service.AppUserRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppRegister</servlet-name>
        <url-pattern>/app/register/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>controller.service.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/app/search/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admin_User</servlet-name>
        <servlet-class>controller.service.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_User</servlet-name>
        <url-pattern>/admin/user/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ADMIN_OPERATION</servlet-name>
        <servlet-class>controller.admin.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADMIN_OPERATION</servlet-name>
        <url-pattern>/admin/operation/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ADMIN_DASHBOARD</servlet-name>
        <jsp-file>/admin/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADMIN_DASHBOARD</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ADMIN_LOGIN</servlet-name>
        <jsp-file>/admin/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADMIN_LOGIN</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ADMIN_USERLIST</servlet-name>
        <jsp-file>/admin/adminuser_management.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADMIN_USERLIST</servlet-name>
        <url-pattern>/admin/admin_user/management</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ADMIN_ADMINUSERCREATE</servlet-name>
        <jsp-file>/admin/adminuser_add.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADMIN_ADMINUSERCREATE</servlet-name>
        <url-pattern>/admin/admin_user/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>App User</servlet-name>
        <jsp-file>/admin/appUserView.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>App User</servlet-name>
        <url-pattern>/admin/app/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Upload Image</servlet-name>
        <jsp-file>/admin/uploadImage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Upload Image</servlet-name>
        <url-pattern>/admin/upload/image</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sticker</servlet-name>
        <servlet-class>controller.admin.StickerController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Sticker</servlet-name>
        <url-pattern>/admin/sticker/operation/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>New Category</servlet-name>
        <jsp-file>/admin/stickerCategoryForm.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>New Category</servlet-name>
        <url-pattern>/admin/sticker/category/new</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Upload Sticker</servlet-name>
        <jsp-file>/admin/uploadImage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Upload Sticker</servlet-name>
        <url-pattern>/admin/sticker/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

</web-app>

